{% extends 'main/layout.html' %}

{% block title %}Про меня {% endblock %}


{% block content %}
    <div class="features">
        <h1> О себе</h1>
        <p>Мне 19 лет, зовут И Л Ь Я Н И К И Т И Н. Учусь в УЛГТУ на факультете информационных систем и технологий в группе ИСТбд-21.
        Раньше учился в школе № 82. Увлекаюсь философией, музыкой и наверное еще чем то. Тут очень мало информации,извините что нету
            скана паспорта и свидетельства о рождении. :)
        </p>

    </div>
{% endblock %}





