{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}


{% block content %}
    <div class="features">
        <h1>Для связи со мной</h1>
        <p>Здесь указаны все мои соц сети и мессенджеры. </p>
        <form action="https://vk.com/evil0nk" target="_blank">
        <button class="btn btn-warning" >&#160 VK &#160</button>
        </form>
        <br>
        <br>
        <form action="https://t.me/wwwEVill" target="_blank">
        <button class="btn btn-warning" >&#169 TG &#169</button>
        </form>
        <br>
        <br>
        <form action="https://github.com/Evviill" target="_blank">
        <button class="btn btn-warning" >GitHub</button>
        </form>
    </div>
{% endblock %}